In [1]:
import pandas as pd
pd.set_option("display.max_columns",100)
import numpy as np

from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.tree import ExtraTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("House_Rent_Dataset.csv")

In [10]:
df.head(20)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
5,2022-04-29,2,7000,600,Ground out of 1,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
6,2022-06-21,2,10000,700,Ground out of 4,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,2,Contact Agent
7,2022-06-21,1,5000,250,1 out of 2,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,1,Contact Agent
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent
9,2022-06-20,2,10000,1000,1 out of 3,Carpet Area,Natunhat,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner
10,2022-05-23,3,25000,1200,1 out of 4,Carpet Area,"Action Area 1, Rajarhat Newtown",Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Agent
11,2022-06-07,1,5000,400,1 out of 1,Carpet Area,Keshtopur,Kolkata,Unfurnished,Bachelors/Family,1,Contact Agent
12,2022-05-14,1,6500,250,1 out of 4,Carpet Area,"Tarulia, Keshtopur",Kolkata,Furnished,Bachelors,1,Contact Owner
13,2022-05-09,1,5500,375,1 out of 2,Carpet Area,Dum Dum Metro,Kolkata,Unfurnished,Bachelors/Family,1,Contact Agent
14,2022-05-05,3,8500,900,Ground out of 2,Carpet Area,Paschim Barisha,Kolkata,Unfurnished,Bachelors,2,Contact Owner
15,2022-06-01,3,40000,1286,1 out of 1,Carpet Area,New Town Action Area 1,Kolkata,Furnished,Bachelors/Family,2,Contact Owner
16,2022-05-17,2,6000,600,1 out of 2,Super Area,Barasat,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
17,2022-06-20,2,10000,800,Ground out of 2,Super Area,Behala,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
18,2022-06-09,2,11000,2000,Ground out of 3,Carpet Area,Behala Chowrasta,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
19,2022-06-09,2,6000,660,1 out of 2,Super Area,Behala,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner

In [4]:
df.shape

(4746, 12)

Dataset Glossary (Column-Wise)
BHK: Number of Bedrooms, Hall, Kitchen.
Rent: Rent of the Houses/Apartments/Flats.
Size: Size of the Houses/Apartments/Flats in Square Feet.
Floor: Houses/Apartments/Flats situated in which Floor and Total Number of Floors (Example: Ground out of 2, 3 out of 5, etc.)
Area Type: Size of the Houses/Apartments/Flats calculated on either Super Area or Carpet Area or Build Area.
Area Locality: Locality of the Houses/Apartments/Flats.
City: City where the Houses/Apartments/Flats are Located.
Furnishing Status: Furnishing Status of the Houses/Apartments/Flats, either it is Furnished or Semi-Furnished or Unfurnished.
Tenant Preferred: Type of Tenant Preferred by the Owner or Agent.
Bathroom: Number of Bathrooms.
Point of Contact: Whom should you contact for more information regarding the Houses/Apartments/Flats.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [6]:
df.describe()

               BHK          Rent         Size     Bathroom
count  4746.000000  4.746000e+03  4746.000000  4746.000000
mean      2.083860  3.499345e+04   967.490729     1.965866
std       0.832256  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [13]:
numb = df['Floor'].value_counts()

print(numb)

1 out of 2         379
Ground out of 2    350
2 out of 3         312
2 out of 4         308
1 out of 3         293
                  ...
11 out of 31         1
50 out of 75         1
18 out of 26         1
12 out of 27         1
23 out of 34         1
Name: Floor, Length: 480, dtype: int64

In [12]:
numb = df['Area Type'].value_counts()

print(numb)

Super Area     2446
Carpet Area    2298
Built Area        2
Name: Area Type, dtype: int64

In [15]:
numb = df['Area Locality'].value_counts()

print(numb)

Bandra West                                37
Gachibowli                                 29
Electronic City                            24
Velachery                                  22
Miyapur, NH 9                              22
                                           ..
Kengeri Upanagara                           1
Ittamadu, Banashankari, Outer Ring Road     1
Rmv Extension, Armane Nagar                 1
snv la                                      1
Manikonda, Hyderabad                        1
Name: Area Locality, Length: 2235, dtype: int64

In [16]:
numb = df['City'].value_counts()

print(numb)

Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: City, dtype: int64

In [17]:
numb = df['Furnishing Status'].value_counts()

print(numb)

Semi-Furnished    2251
Unfurnished       1815
Furnished          680
Name: Furnishing Status, dtype: int64

In [18]:
numb = df['Tenant Preferred'].value_counts()

print(numb)

Bachelors/Family    3444
Bachelors            830
Family               472
Name: Tenant Preferred, dtype: int64

In [19]:
numb = df['Point of Contact'].value_counts()

print(numb)

Contact Owner      3216
Contact Agent      1529
Contact Builder       1
Name: Point of Contact, dtype: int64

In [22]:
df.isnull().sum()

Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
Point of Contact     0
dtype: int64

In [23]:
df["Area Type"] = df["Area Type"].map({"Super Area": 1, 
                                           "Carpet Area": 2, 
                                           "Built Area": 3})
df["City"] = df["City"].map({"Mumbai": 4000, "Chennai": 6000, 
                                 "Bangalore": 5600, "Hyderabad": 5000, 
                                 "Delhi": 1100, "Kolkata": 7000})
df["Furnishing Status"] = df["Furnishing Status"].map({"Unfurnished": 0, 
                                                           "Semi-Furnished": 1, 
                                                           "Furnished": 2})
df["Tenant Preferred"] = df["Tenant Preferred"].map({"Bachelors/Family": 2, 
                                                         "Bachelors": 1, 
                                                         "Family": 3})

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   int64
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   int64
 8   Furnishing Status  4746 non-null   int64
 9   Tenant Preferred   4746 non-null   int64
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(8), object(4)
memory usage: 445.1+ KB

In [26]:
from sklearn.model_selection import train_test_split
x = np.array(df[["BHK", "Size", "Area Type", "City", 
                   "Furnishing Status", "Tenant Preferred", 
                   "Bathroom"]])
y = np.array(df[["Rent"]])

xtrain, xtest, ytrain, ytest = train_test_split(x, y, 
                                                test_size=0.10, 
                                                random_state=42)

In [27]:
from keras.models import Sequential
from keras.layers import Dense, LSTM
model = Sequential()
model.add(LSTM(128, return_sequences=True, 
               input_shape= (xtrain.shape[1], 1)))
model.add(LSTM(64, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 7, 128)            66560

 lstm_1 (LSTM)               (None, 64)                49408

 dense (Dense)               (None, 25)                1625

 dense_1 (Dense)             (None, 1)                 26

=================================================================
Total params: 117619 (459.45 KB)
Trainable params: 117619 (459.45 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(xtrain, ytrain, batch_size=1, epochs=21)

Epoch 1/21
4271/4271 [==============================] - 12s 3ms/step - loss: 7000740864.0000
Epoch 2/21
4271/4271 [==============================] - 12s 3ms/step - loss: 6460144640.0000
Epoch 3/21
4271/4271 [==============================] - 12s 3ms/step - loss: 6159401472.0000
Epoch 4/21
4271/4271 [==============================] - 12s 3ms/step - loss: 5925599232.0000
Epoch 5/21
4271/4271 [==============================] - 13s 3ms/step - loss: 5727007744.0000
Epoch 6/21
4271/4271 [==============================] - 13s 3ms/step - loss: 5560869376.0000
Epoch 7/21
4271/4271 [==============================] - 11s 3ms/step - loss: 5438107136.0000
Epoch 8/21
4271/4271 [==============================] - 11s 3ms/step - loss: 5301178880.0000
Epoch 9/21
4271/4271 [==============================] - 11s 3ms/step - loss: 5238184448.0000
Epoch 10/21
4271/4271 [==============================] - 11s 3ms/step - loss: 5098079744.0000
Epoch 11/21
4271/4271 [==============================] - 11s 3ms/step - loss: 5098360320.0000
Epoch 12/21
4271/4271 [==============================] - 11s 3ms/step - loss: 5045321216.0000
Epoch 13/21
4271/4271 [==============================] - 12s 3ms/step - loss: 4996764672.0000
Epoch 14/21
4271/4271 [==============================] - 12s 3ms/step - loss: 4917009408.0000
Epoch 15/21
4271/4271 [==============================] - 12s 3ms/step - loss: 4816604160.0000
Epoch 16/21
4271/4271 [==============================] - 12s 3ms/step - loss: 4838992896.0000
Epoch 17/21
4271/4271 [==============================] - 12s 3ms/step - loss: 4783853056.0000
Epoch 18/21
4271/4271 [==============================] - 12s 3ms/step - loss: 4808054272.0000
Epoch 19/21
4271/4271 [==============================] - 12s 3ms/step - loss: 4829828608.0000
Epoch 20/21
4271/4271 [==============================] - 11s 3ms/step - loss: 4818891776.0000
Epoch 21/21
4271/4271 [==============================] - 11s 3ms/step - loss: 4660624896.0000

In [29]:
print("Enter House Details to Predict Rent")
a = int(input("Number of BHK: "))
b = int(input("Size of the House: "))
c = int(input("Area Type (Super Area = 1, Carpet Area = 2, Built Area = 3): "))
d = int(input("Pin Code of the City: "))
e = int(input("Furnishing Status of the House (Unfurnished = 0, Semi-Furnished = 1, Furnished = 2): "))
f = int(input("Tenant Type (Bachelors = 1, Bachelors/Family = 2, Only Family = 3): "))
g = int(input("Number of bathrooms: "))
features = np.array([[a, b, c, d, e, f, g]])
print("Predicted House Price = ", model.predict(features))

Enter House Details to Predict Rent
Number of BHK: 3
Size of the House: 110
Area Type (Super Area = 1, Carpet Area = 2, Built Area = 3): 1
Pin Code of the City: 4000
Furnishing Status of the House (Unfurnished = 0, Semi-Furnished = 1, Furnished = 2): 0
Tenant Type (Bachelors = 1, Bachelors/Family = 2, Only Family = 3): 1
Number of bathrooms: 2
1/1 [==============================] - 0s 270ms/step
Predicted House Price =  [[20464.398]]